@import 'styles';

.StockTableFilterDrawer {
  .ant-input-number-group-wrapper {
    width: 300px;
  }
  .ant-input-number-group-addon {
    width: 200px;
    text-align: left;
  }
}

.StockTable {
  flex-direction: column;

  .ant-table-pagination.ant-pagination {
    position: absolute;
    bottom: -8px;
    left: 80px;
  }
}

.InfoListBackTestDrawer {
  .ant-input-number-input {
    width: 50px;
  }
}

.StockDetailChart {
  .ant-input-number-wrapper {
    width: 120px;
  }
}
