@import '~antd/dist/antd.less';

@import 'configs';
@import 'pages';
@import 'components';
@import 'features';

#root {
  height: 100%;
}

.container {
  height: 100%;
  max-width: @site-width;
  margin: auto;
  transition: padding 0.3s;
  background: @gray-100;
  padding: 0;
}

@media (min-width: 768px) {
  .container {
    padding: 0.5rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 1rem;
  }
}

.amin-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
