@import '~antd/dist/antd.less';

@import 'configs';
@import 'pages';
@import 'components';
@import 'features';

#root {
  height: 100%;
}

@media screen and (max-width: 1280px) {
  .container {
    padding: 0 32px;
  }
}

@media screen and (max-width: 1580px) {
  .container {
    padding: 0 64px;
  }
}

.container {
  height: 100%;
  max-width: 100em;
  margin-right: auto;
  margin-left: auto;
  transition: padding 0.3s;
}
