@import 'styles';

.TodoListItem-toolbox {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

.TodoListItem:hover .TodoListItem-toolbox {
  display: flex;
  flex-direction: column;
}

.TodoListItem {
  align-items: center;
  padding-right: 32px;
  // min-height: 100px;

  .ant-checkbox-inner {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 0 8px;
  }
}

.TodoListItem:hover,
.TodoListItem::selection {
  background-color: @gray-100;
}
