@import '@/styles';

.Post {
  height: 100%;
}

.PostListContainer {
  width: 10rem;
  overflow: auto;
  border-right: 1px solid @gray-100;
}

.PostCreateButton {
  justify-content: space-between;
  border-bottom: 1px solid @gray-100;
}
.PostDetailContainer {
  overflow: auto;
}

.PostCreate {
  .CustomPlate {
    background: @white;
  }
}

.PostDetail {
  display: flex;
  flex-direction: column;
  position: relative;
}

.PostList {
  flex-direction: column;
  overflow: auto;
}

.PostListItem {
  cursor: pointer;
  padding: 8px;
}

.PostListItem:hover {
  background: @gray-100;
}

.PostListItem.selected {
  background: @gray-100;
}
